/* Universal CSS styling */

:root {
    --primary-color: #07caca;
    --secondary-color: #006666;
}


* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: Helvetica, Arial, sans-serif;
    background-image: url(../images/hero-bg1.jpg);
    background-size: cover;
    background-position: 80%;
}

/* Start of header styling */

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: var(--secondary-color);
    padding-bottom: 30px;
    height: 80px;
}

header h1 {
    background-color: var(--primary-color);
    font-size: 1.5vw;
    margin: 20px 0 0 20px;
    padding: 10px;
}

header h1 a {
    color: var(--secondary-color);
    text-decoration: none;
}

header nav {
    margin: 7px 0;
}

header nav ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    list-style: none;
  }

  header nav ul li a {
    padding: 10px 20px;
    font-size: 1.3vw;
    text-decoration: none;
    color: var(--primary-color);
  }


/* End of header styling */
/* Start of hero styling */

.hero {
    display: flex;
    justify-content: right;
    background-image: url(../images/hero-bg.jpg);
    background-size: contain;
}

.hero-sub {
    padding: 10px;
    margin: 100px 40px 40px 0px;
    background-image: url(../images/hero-bg.2jpg.jpg);
    background-size: cover;
    background-position: center;
    font-size: 1.75vw;
    border-radius: 10px 10px;
    color: var(--secondary-color);
}

.hero-sub p {
    font-size:20px;
}

.hero-sub h3 {
    opacity:0.7;
}
/* End of hero styling */
/* Start of about-me styling */

.about {
    padding-top: 20px;
    margin: 20px 0 40px 20px; 
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
   color: var(--primary-color); 
}

.about h2 {
    margin-right: 60px;
    padding: 0 65px 10px 20px;
    text-align: right;
    color: var(--secondary-color);
    font-size: 3.5vw;
    border-right: 3px solid var(--secondary-color);
    display: block;
    color: var(--secondary-color); 
}

.about p {
    font-size: 1.16vw;
    margin-left: 10px;
    line-height: 1.8vw;
    width: 100%;
    margin-bottom: 20px; 
}

.bio {
    display: flex;
}


/* End of about-me styling */
/* Start of my-projects styling */

.project-title {
    font-size: 3.6vw;
    border-right: 3px solid var(--secondary-color);;
    display: inline-block;
    height: 800px;
    color: var(--secondary-color);
    text-align: left;
    padding-right: 90px;
    margin-left: 2.5%;
}

.projects{
    margin-top: 30px;
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
}

.work {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin-left:50px;
    margin-bottom: 20px;
}

figure {
    position: relative;
}

figcaption {
    width:150px;
    position: absolute;
    margin-right: auto;
    left: 4px;
    text-align: center;
    bottom: 20px;
    padding: 1em; 
    color:black;
    background-color: var(--primary-color);
    text-align: center;
}

img {
    display: block;
    border: 4px solid var(--primary-color);
    width:100%
}

.run {
    height: 800px;
    margin-left: 80px;
}
.run-buddy img {
    height: 800px;
    width: 1100px;
    object-fit: cover;
    object-position:top;
}

.project img {
    width: 100%;
    min-width: 535px;
    height: 175px;
    margin: auto;
    object-fit:cover;
}

.shade {
    width: 100%;
    height: 100%;
    background: rgba(7,201,201,0.3);
    position: absolute;
    top: 0;
  }

.shade:hover {
    background: none;
}

.project {
    max-width: 550px;
    margin: 30px 0 0px 30px;
}

.sub-projects {
    display:flex;
}

.sub-projects h2 {
    margin-right: 50px;
    color: transparent;
    height: 215px;
}


/* End of my-projects styling */